/* Preliminaries */

@font-face {
	font-family: CMU-Serif;
	src: url(Fonts/CMUSerif.ttf);
}

@font-face {
	font-family: CMU-Bold;
	src: url(Fonts/CMUBold.ttf);
}

@font-face {
	font-family: ProximaNova;
	src: url(Fonts/ProximaNova-Regular.ttf)
}

h1 {
	font-family: CMU-Serif;
	font-size: 4.5vw;
	color: black;
	text-align: center;
	font-weight: normal;
	letter-spacing: 0.075em;
}

h2 {
	font-family: CMU-Serif;
	font-size: 2.75vw;
	color: black;
	font-weight: normal;
	letter-spacing: 0.05em;
}

b {
	font-family: CMU-Bold;
}

body {
	margin: 0;
	background-color: #000000;
}

/* Header & Footer */

.header {
	font-family: ProximaNova;
	background-color: #000000;
	padding-left: 6.25%;
	padding-right: 6.25%;
}
	
	.logo {
		float: left;
		padding-top: 1em;
		padding-bottom: 1.25em;
	}

		.logo img {
			width: 6.5em;
		}

	.pages-header {
		text-align: right;
		font-size: 1.125vw;
		color: #d2b72d;
		word-spacing: 1.75vw;
		letter-spacing: 0.25vw;
		padding-top: 3.75em;
		padding-bottom: 1.25em;
	}

		a:link, a:visited {
			color: #d2b72d;
			text-decoration: none;
			background-color: none;
		}

		a:hover, a:active {
			color: white;
			text-decoration: none;
			background-color: none;
		}

.footer {
	font-family: ProximaNova;
	font-size: 1.125vw;
	text-align: center;
	padding-top: 5em;
	padding-bottom: 5em;
	background-color: #000000;
}

	.footer p {
		font-family: ProximaNova;
		letter-spacing: 0.125vw;
		color: #d2b72d;
	}
 
	.pages-footer {
		word-spacing: 1.75vw;
		letter-spacing: 0.25vw;
		color: #d2b72d;
		padding-bottom: 2em;
	}

/* Body Cage */

.bodycage {
	padding-bottom: 1.25em;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #FFFFFF;
}

/* Body */

.body {
	font-family: CMU-Serif;
	font-size: 1.25vw;
	text-align: justify;
	line-height: 2vw;
	color: #000000;
	background-color: #FFFFFF;
	padding-top: 0.75em;
	padding-bottom: 1.25em;
	padding-left: 1.25em; 
	padding-right: 1.25em;
}	

	.body img {
		width: 14em;
	}

/* Tables & Lists */

td {
	text-align: center;
	vertical-align: top;
	padding-right: 0.75em;
	width:auto;
}

/* Additional */

.upper-image {
	background-image: url('Photos_Home/upperbg.jpg');
 	background-attachment: fixed;
  	background-position: top;
  	background-repeat: no-repeat;
  	background-size: cover;
}

	.upper-image h1 {	
		color: #d2b72d;
		padding-top: 15%;
		padding-bottom: 1.5%;
	}

.lower-image {
	background-image: url('Photos_Home/lowerbg.jpg');
 	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 35%;
}

.upper-image-buttons {
	text-align: center;
	padding-bottom: 15%;
}

	.button-collections, .button-about {
	  	font-family: ProximaNova;
		font-size: 1.125vw;
		letter-spacing: 0.25vw;
		border: 0.125em solid #d2b72d;
	  	background-color: #ffffff00;
	  	color: #d2b72d;
		padding-top: 1.5vw;
		padding-bottom: 1.5vw;
		padding-left: 3vw;
		padding-right: 3vw;
		cursor: pointer;
	}

		.button-collections:hover, .button-about:hover {
			color: #FFFFFF;
			background-color: #d2b72d;
		}

	.button-guides {
	  	font-family: ProximaNova;
		font-size: 1.125vw;
		letter-spacing: 0.25vw;
		border: 0.125em solid #000000;
	  	background-color: #ffffff00;
	  	color: #000000;
		padding-top: 1.5vw;
		padding-bottom: 1.5vw;
		padding-left: 3vw;
		padding-right: 3vw;
		cursor: pointer;
	}

		.button-guides:hover {
			color: #000000;
			background-color: #d2b72d;
		}